@page "{id:int?}"
@model WebApplication2.Pages.JobTitles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Job Titles</h1>

<p>
    <a asp-page="Create">Create New Job Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].JobTitleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitlesData.JobTitles) {

        string selectedRow ="";
        if(item.ID==Model.JobTitleID)
        {
            selectedRow = "table-success";
        }


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
